<div class="todo">
    <form (submit)="onSubmit($event);">
        <h3>
            <input (blur)="editTitleToggle();" *ngIf="titleEditable" [(ngModel)]="title" />
            <span *ngIf="!titleEditable">
                {{ title }}
                <i (click)="editTitleToggle();" class="fa fa-pencil"></i> : ({{ getIncomplete() }} of {{ todos.length }})
            </span>
        </h3>
        <div class="todo__fields">
            <input [(ngModel)]="label" class="todo__input">
            <button type="submit" class="todo__submit">
                Add <i class="fa fa-check-circle"></i>
            </button>
        </div>
    </form>
    <ul class="todo__list">
        <li *ngFor="let item of todos; let i = index"
            [class.todo__list--complete]="item.complete">
            <input type="checkbox" [(ngModel)]="item.complete">
            <p [title]="item.label">{{ item.label }}</p>
            <span (click)="deleteItem(i);">
                <i class="fa fa-times-circle"></i>
            </span>
        </li>
    </ul>
</div>
